<!DOCTYPE html>
<html>
  <head>
    <title>MJapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="header">
  <div class="content-wrapper header-nav">
    <h1></h1>
      <nav>
        <ul>
          <li><a href="/">サイトホーム</a></li>
          <li><a href="/system">料金システム</a></li>
          <li><a href="#">ルール</a></li>
          <li><a href="/access">アクセス</a></li>
          <li><a href="/recruit">リクルート</a></li>
          <li><a href="/content">お問い合わせ</a></li>
          </ul>
　　　</nav>
　</div>
</header>



    <%= yield %>
  </body>
</html>
